# 6. Exercises

In the past chapters, we learned various techniques of data visualization. As we saw, in order to get some first 
insights on the data and understand it better, it is really useful to first visualize it. In this part, you will have the
opportunity to apply the gained knowledge. If you find it difficult, do  not worry, you can consult the solutions
we have provided. Enjoy!

###### Set Up

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import umap

c:\Users\Doriela\anaconda3\envs\data-vis-jupyter-book\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# this is to silence pandas' warnings
import warnings
warnings.simplefilter(action='ignore')
%config InlineBackend.figure_format='svg'

In [3]:
FONT_FAMILY = 'DejaVu Sans'
FONT_SCALE = 1.3

###### Load and preprocess the dataset

The exercises will be based on a dataset called cereals. Information about authors and contributors to this dataset can be found [here](https://www.kaggle.com/code/hiralmshah/nutrition-data-analysis-from-80-cereals). 
The dataset has 77 records and 16 columns. The columns are:
- **name** - name of the cereal
- **mfr** -stands for the manufacturer of the cereals. You can find the association of the letter in the dataset with the real name in the `manufacturers_df` we have loaded below.
- **type** - hot or cold, the preferred way of eating
- **calories** - amount of calories per portion
- **fat** - grams of fat
- **sodium** - milligrams of sodium
- **fiber** - amount in grams per portion
- **carbo** - amount of carbohydrates in grams
- **sugars** - amount in gram per portion
- **potass** - amount in milligrams per portion
- **vitamins** - vitamins and minerals (0, 25, 100) in percentage
- **shelf** - shelf they appear in supermarket (1, 2 or 3 from the floor)
- **weight** - weight in ounces for one portion
- **cups** - number of cups per portion
- **rating** - rating of the cereals

In [8]:
cerelas = pd.read_csv('data/cereal.csv', sep=',')
cerelas.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [7]:
manufacturers_df = pd.read_csv('data/manufacturers.csv')
manufacturers_df

  letter                 company_name
0      A  American Home Food Products
1      G                General Mills
2      K                     Kelloggs
3      N                      Nabisco
4      P                         Post
5      Q                  Quaker Oats
6      R               Ralston Purina

###### 6.1 Exercise 1

Plot the number of products per manufacturer by displaying the manufacturer's name instead of the letter that appears in the `cereals_df` dataframe.